{% extends 'commonmark_base.html.twig' %}

{% block _inline_children -%}
    {%- for node in node.children %}
        {{- block(node|commonmark_block_name) }}
    {%- endfor -%}
{%- endblock %}

{% block _children %}
    {%- for node in node.children %}
        {{- block(node|commonmark_block_name) }}
        {{- not loop.last ? "\n" }}
    {%- endfor -%}
{% endblock %}

{% block _attributes -%}
    {% set attributes = node.data.attributes|default([])|merge(attributes|default([])) %}
    {%- for name, value in attributes -%}
        {%- if value is not none and value is not same as(false) -%}
            {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
        {%- endif -%}
    {%- endfor -%}
{%- endblock %}

{% block document -%}
    {%- set content = block('_children') %}
    {{- content|raw }}{{ '' != content ? "\n" }}
{%- endblock %}

{% block block_quote -%}
    {% set content = block('_children') -%}
    <blockquote{{ block('_attributes') }}>
    {%- if '' == content -%}
        {{ options.inner_separator|default("\n") }}
    {%- else -%}
        {{- options.inner_separator|default("\n") }}{{ content|raw }}{{ options.inner_separator|default("\n") }}
    {%- endif -%}
    </blockquote>
{%- endblock %}

{% block fenced_code -%}
    {% set language = node.infowords[0]|default -%}
    {% if language -%}
        {% set attributes = { class: (node.data.attributes.class|default ~ " language-#{language}")|trim } -%}
    {% endif -%}
    <pre><code{{ block('_attributes') }}>{{ node.stringcontent }}</code></pre>
{%- endblock %}

{% block header -%}
    <h{{ node.level }}{{ block('_attributes') }}>{{ block('_inline_children') }}</h{{ node.level }}>
{%- endblock %}

{% block horizontal_rule -%}
    <hr />
{%- endblock %}

{% block html_block -%}
    {{ node.stringcontent|raw }}
{%- endblock %}

{% block indented_code -%}
    <pre{{ block('_attributes') }}><code>{{ node.stringcontent }}</code></pre>
{%- endblock %}

{% block list_block -%}
    {% if node.listdata.type == constant('TYPE_UNORDERED', node) -%}
        <ul{{ block('_attributes') }}>
            {{- options.inner_separator|default("\n") -}}
            {{- block('_children') -}}
            {{- options.inner_separator|default("\n") -}}
        </ul>
    {%- else -%}
        <ol{% if node.listdata.start|default != 1 %} start="{{ node.listdata.start }}"{% endif %}{{ block('_attributes') }}>
            {{- options.inner_separator|default("\n") -}}
            {{- block('_children') -}}
            {{- options.inner_separator|default("\n") -}}
        </ol>
    {%- endif %}
{%- endblock %}

{% block list_item -%}
    {% set content = block('_children') -%}
    <li{{ block('_attributes') }}>{{ content starts with '<' ? "\n" }}{{ content|raw }}{{ content ends with '>' ? "\n" }}</li>
{%- endblock %}

{% block paragraph -%}
    {% if node.parent.parent.tight|default %}
        {{- block('_inline_children') }}
    {%- else -%}
        <p{{ block('_attributes') }}>{{ block('_inline_children') }}</p>
    {%- endif %}
{%- endblock %}

{# Inlines #}

{% block code -%}
    <code{{ block('_attributes') }}>{{ node.content }}</code>
{%- endblock %}

{% block emphasis -%}
    <em{{ block('_attributes') }}>{{ block('_inline_children') }}</em>
{%- endblock %}

{% block html -%}
    {{ node.content|raw }}
{%- endblock %}

{% block image -%}
    <img{{ block('_attributes') }} src="{{ node.url }}" alt="{{ block('_inline_children')|commonmark_image_alt }}"
        {%- if node.data.title|default %} title="{{ node.data.title }}"{% endif %} />
{%- endblock %}

{% block link -%}
    <a{{ block('_attributes') }} href="{{ node.url }}"{% if node.data.title|default %} title="{{ node.data.title }}"{% endif %}>
        {{- block('_inline_children') -}}
    </a>
{%- endblock %}

{% block newline -%}
    {% if node.type == constant('HARDBREAK', node) -%}
        <br />{{ "\n" }}
    {%- else -%}
        {{ options.soft_break|default("\n") }}
    {%- endif %}
{%- endblock %}

{% block strong -%}
    <strong{{ block('_attributes') }}>{{ block('_inline_children') }}</strong>
{%- endblock %}

{% block text -%}
    {{ node.content }}
{%- endblock %}
